.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #333333;
    overflow: hidden;
    min-width: 200px;

    .card-header {
        display: flex;
        justify-content: center;
        padding: 10px;
        align-items: center;
        background-color: #333333;

        h2 {
            margin: 0;
            font-size: 24px;
            font-weight: 500;
            color: white;
        }

        button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-size: 24px;
            color: #333333;
        }
    }

    .card-content {
        padding: 10px;
    }

    ul {
        list-style: none;
        padding: 0;
    }
}
